<!DOCTYPE html>
<html>
<head>
  <title>VueRailsChatapp</title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body class="md-theme-default">
<div class="container">
  <!-- サイドナビゲーションバー -->
  <div id="sideNav">
    <md-sidenav class="main-sidebar md-left md-fixed" ref="leftSidenav">
      <md-theme md-name="white">
        <md-toolbar>
        </md-toolbar>
      </md-theme>
      <md-theme md-name="gray">
        
      </md-theme>
    </md-sidenav>
  </div>

  <!--ヘッダー-->
  <div id="topNavbar">
    <md-whiteframe>
      <md-toolbar class="md-whiterame-1dp">
        <md-button class="md-icon-button" v-on:click="toggleSideNav">
          <md-icon>menu</md-icon>
        </md-button>
        <h1 class="md-title">My Title</h1>
      </md-toolbar>
    </md-whiteframe>
  </div>

  <!-- アプリケーション本体-->
  <div id="appBody">
    <md-button class="md-icon-button md-raised md-primary">
      <md-icon>add</md-icon>
    </md-button>
    <%= yield %>
  </div>

</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
