<!DOCTYPE html>
<html>
<head>
  <title>VueRailsChatapp</title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body class="md-theme-default">
<div id="app">
  <md-toolbar>
    <h1 class="md-title">My Title</h1>
  </md-toolbar>
  <md-button class="md-icon-button md-raised md-primary">
    <md-icon>add</md-icon>
  </md-button>
  <%= yield %>
</div>
<%= javascript_include_tag 'application' %>
</body>t
</html>
